* {
    margin:0;
    padding:0;
}

body, html {
    width:100vw;
    height:100vh;
    overflow:hidden;
}

body {
    background:#121223;
    color:white;
    display:flex;
    align-items:center;
    justify-content:center;
}

.slider {
    width:360px;
    height:420px;
    outline:#894545 2px solid;
    overflow:hidden;
    border-radius:10px;
    box-shadow:0 0 20px #894545;
    position:relative;
}

input {
    display:none;
}

.ekran {
    margin-left:-400%;
    width:500%;
    height:calc(100% - 60px);
    position:relative;
    display:flex;
    flex-direction: column;
    flex-wrap:wrap;
    overflow:hidden;
}

.ekran img {
    width:20%;
    height:100%;
    transition: margin-left 0.5s ease-in-out;
    border-radius:10px 10px 0 0;
    user-select:none;
}

nav {
    width:100%;
    height:60px;
    display:flex;
    align-items:center;
    justify-content:space-around;
    outline:#458945 2px solid;
    outline-offset: -4px;
    border-radius: 0 0 10px 10px;
    background:rgba(69, 137, 69,0.1);
}

nav label {
    display:block;
    outline:#454589 2px solid;
    padding:5px;
    border-radius:10px;
    cursor:pointer;
    user-select: none;
    background:rgba(0,0,255,0.1);
    transition: background 0.2s ease-in-out;
}

nav label span {
    font-size:12px;
    color:transparent;
}

nav label:nth-child(1) span {
    background: url(watykan.jpg);
    background-size:100%;
    background-position: 0 60px;
    background-clip:text;
    -moz-background-clip:text;
    -webkit-background-clip:text;
}

nav label:nth-child(2) span {
    background: url(grecja.jpg);
    background-size:100%;
    background-position: center;
    background-clip:text;
    -moz-background-clip:text;
    -webkit-background-clip:text;
}

nav label:nth-child(3) span {
    background: url(fontanna.jpg);
    background-size:100%;
    background-position: center;
    background-clip:text;
    -moz-background-clip:text;
    -webkit-background-clip:text;
}

nav label:nth-child(4) span {
    background: url(wenecja.jpg);
    background-size:100%;
    background-position: center;
    background-clip:text;
    -moz-background-clip:text;
    -webkit-background-clip:text;
}

nav label:nth-child(5) span {
    background: url(wlochy.webp);
    background-size:100%;
    background-position: center;
    background-clip:text;
    -moz-background-clip:text;
    -webkit-background-clip:text;
}

label:hover {
    background:rgba(0,0,255,0.2);
}

#obraz1:checked ~ .ekran .obraz1 {
    margin-left:80%;
}
#obraz2:checked ~ .ekran .obraz1 {
    margin-left:60%;
}
#obraz3:checked ~ .ekran .obraz1 {
    margin-left:40%;
}
#obraz4:checked ~ .ekran .obraz1 {
    margin-left:20%;
}
#obraz5:checked ~ .ekran .obraz1 {
    margin-left:0%;
}


#obraz1:checked ~ nav label:nth-child(1) {
    background:rgba(0,0,255,0.3);
}
#obraz2:checked ~ nav label:nth-child(2) {
    background:rgba(0,0,255,0.3)
}
#obraz3:checked ~ nav label:nth-child(3) {
    background:rgba(0,0,255,0.3)
}
#obraz4:checked ~ nav label:nth-child(4) {
    background:rgba(0,0,255,0.3);
}
#obraz5:checked ~ nav label:nth-child(5) {
    background:rgba(0,0,255,0.3);
}


@media only screen and (min-width:600px) {
    .slider {
        width:500px;
    }
    nav label span {
        font-size:18px;
    }
}

@media only screen and (min-width:1000px) and (min-height:610px) {
    .slider {
        width:900px;
        height:600px;
    }

    .ekran {
        height: calc(100% - 80px);
    }

    nav {
        height:80px
    }

    nav label span {
        font-size:25px;
    }
}
